<div class="row column consultations-title">
  <h1 class="heading2"><%= decidim_sanitize translated_attribute question.title %></h1>

  <div class="text-center">
    <%= decidim_sanitize translated_attribute current_question.question_context %>
  </div>

  <% unless question.hashtag.blank? %>
    <div class="text-center">
      <%= link_to "##{question.hashtag}", "https://twitter.com/hashtag/#{question.hashtag}", target: "_blank" %>
    </div>
  <% end %>

  <%= yield :question_header_details if content_for? :question_header_details %>
</div>

<% if question.external_voting %>
  <iframe src="<%= question.i_frame_url %>"></iframe>
<% else %>
  <% if question.results_published? %>
    <%= render partial: "decidim/consultations/questions/results", locals: { question: question } %>
  <% else %>
    <div id="question-<%= question.id %>-vote-button">
      <%= render partial: "decidim/consultations/questions/vote_button", locals: { question: question } %>
    </div>
  <% end %>
<% end %>

<%= render partial: "layouts/decidim/question_components", locals: { question: question } %>
